// -----------------------------------------
// Normalize style
// -----------------------------------------
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none !important;
}
:where(ul, ol):where([class]) {
    padding-left: 0;
}
:where(blockquote, figure):where([class]) {
    margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}
:where(dd[class]) {
    margin-left: 0;
}
:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}
:where(ul[class]) {
    list-style: none;
}
p {
    --paragraphMarginBottom: 24px;
    margin-block: 0;
    &:where(:not([class]):not(:last-child)) {
        margin-bottom: var(--paragraphMarginBottom);
    }
}
img {
    display: block;
    max-width: 100%;
}
input,
textarea,
select,
button {
    font: inherit;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    &,
    &:hover {
        text-decoration: none;
    }
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
// Title setting
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0;
}

// Svg setting
svg *[fill] {
    fill: currentColor;
}
svg *[stroke] {
    stroke: currentColor;
}
body {
    padding: 0;
    margin: 0;
}
